In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'a': np.random.sample(10), 'b': np.random.sample(10)})

In [7]:
df.to_csv('test.csv', header=True, index=True)

In [8]:
ls

Untitled.ipynb        test.csv              zillow_api.ipynb
Untitled1.ipynb       walkable_api.ipynb    zillow_api.py
load_transform.ipynb  web_scraping.ipynb    zillow_api.pyc

In [17]:
d = pd.read_csv('test.csv', index_col=1)

In [18]:

d

          Unnamed: 0         b
a
0.523284           0  0.353640
0.097350           1  0.457579
0.574321           2  0.343416
0.256351           3  0.731467
0.180079           4  0.514708
0.008079           5  0.328280
0.960503           6  0.989958
0.201552           7  0.240607
0.139089           8  0.874630
0.229892           9  0.964626